/*************************************************************************************
 * by Diane Zevenbergen dianezev@gmail.com
 * January 2018
 *
 * STILL UNDER CONSTRUCTION!
 * 
 * Table of Contents:
 * 1. Colors
 * 2. Universal/General
 * 3. Background
 * 4. Navbar
 * 5. News
 * 6. About
 * 7. Footer
 * 8. Misc
 * 9. Animation
 * 10. Media
 *************************************************************************************/

/**************************************
 * 1. COLORS
 **************************************/
:root {
  --colorA: rgb(222, 222, 216);
  --colorB: #235b9c;  /* link colors */
  --colorC: rgb(64, 103, 178);
  --colorD: #11344e; /* news titles */
}


/***********************************************
* 2. Universal/General Styles for start page
************************************************/

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body, html {
  line-height:1.8;
}
body { 
  /* using this instead of height: 100% in order to get animate scrolltop to work */
  height: auto;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
html { 
  overflow-x: hidden;
  overflow-y: scroll;
}
body, button, .btn, .sidebar, .scores {
  font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  padding: 5px;
}
p { margin:0; }
form {margin-bottom: 15px;}

.alignTop {
  align-self: top;
  flex:1;  
  overflow: inherit;
}

/*center class from CSS tricks*/
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.hide { display: none; }

/***********************************************
* 3. BACKGROUND
************************************************/

/*photo from pexels.com*/
.bgimg-1 {
  background-attachment: fixed;
  background-image: url("../images/flag1.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  height: 100%;
  min-height: 100vh;
}
.trans1 {
  background-color: rgba(0, 0, 0, .6);
  padding-top: 10vh;
  padding-bottom: 5vh;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/*************************************************************
 * 4. NAVBAR 
 *************************************************************/

.navbar {
  height: 60.8px;
  font-weight: 800;
}
.navbar-brand {
  font-size: 140%;
}
.navbar .myMenu li:hover {
  font-weight: 800;
}
.myMenu {
  margin: auto;
  width: 800%;
  justify-content: flex-end;
}
.myMenu a {
  font-size: 120%;
}
.myMenu li {
  text-align: center;
}
.myMenu li:hover .choice {
  display:block;
}



/*************************************************************
 * 5. NEWS
 *************************************************************/
.choice button {
  background-color: transparent;
  border: none;
}
.choice h5 {
  text-align: center;
}
.choice select {
  font-size: 1.6em;
}

.selChoice {
  line-height: 3em;
  margin:auto;
  text-align: center;
  align-content:center;
}
.selChoice button {
  color:#3a78c0;
  display: block;
  margin: auto;
}
.selChoice button:hover {
  color:white;
}
.selChoice i {
  vertical-align: middle;
}
.selChoice h4, .selChoice select {
  font-family: 'Mukta Malar', sans-serif;
}
.selChoice select {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
.gridBox {
  display:flex;
  padding: 0;
  overflow-y: auto;
}

.newsSection {
  margin-top: 66px;
}

.newsDiv {
  font-family: 'Merriweather', serif;
  font-size: .8125rem;
  line-height: 1.125rem;
  padding-top:35px;
  padding-bottom:35px;
  padding-left: 15px;
  padding-right: 15px;
}
.newsDiv h6 {
  background-color: black;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.newsDiv h6 img{
  height: 20px;
}

.news {
  background-color: var(--colorA);
  font-weight: 200;
  overflow-y: auto;
  position:relative;
}
.news a {
  color: var(--colorB);
  text-decoration: none;
}
.news a:hover {
  color: #5d519f;
}
.news blockquote {
  margin: 0;
  padding: 0 30px;
}
.news h1, .news h2, .news h3, .news h4, .news h5, .news h6 {
  padding:5px 12px;
}
.news h3 {
  text-align: left;
}
.news h5 {
  background-color: var(--colorD);
  color: lightgray;
  font-family: 'Mukta Malar', sans-serif;
  margin: auto;
}
.news h5:hover {
  cursor: pointer;
}
.news h5, .news i {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.news i {
  color: var(--colorC);
  vertical-align: top;
}
.news li p a {
  color: #536fc0;
}
.news li p a:hover {
  color: #678aee;
  text-decoration: underline;
}
.news p {
  padding: 8px;
}
.news ul {
  margin-bottom: 0;
}
.news>ul>li {
  border: none;
  border-top: 2px solid white;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  text-decoration: none;
}
.news>ul>li:last-child {
  border-bottom: 2px solid white;
}
.news>ul>li span.hide {
  display: none;
}

.storyTitle p {
  display: inline-block;
  width: 80%;
}
.storyTitle span {
  line-height: 24px;
  padding-top: 8px;
  vertical-align: top;
}
.storyTitle span i {
  vertical-align: middle;
}
.endStory {
  padding-bottom: 10px;
  text-align: center;
}
.endStory:hover {
  cursor: pointer;
}

/* This class automatically appended by NPR API*/
.fullattribution {
  text-align: center;
}


/*************************************************************
 * 6. ABOUT
 *************************************************************/
.about p {
    line-height: 1.2;
    padding-right:.5em;
    padding-left: .5em;
    text-align: left;
}

/*************************************************************
 * 7. FOOTER
 *************************************************************/
.bottom {
  background-color: black;
}
.bottom .container {
  height: 50px;
  position: relative;
}
.bottom .container a {
  color: white;
  opacity: .7;
}
.bottom .container a:hover {
  opacity: 1;
  text-decoration: none;
}







/****************************************
* 8. Miscellaneous Styles - clear fix, etc
*******************news****************/

/*MICRO-CLEARFIX by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
.cf:before, .cf:after {
    content:"";
    display:table;
}
.cf:after { 
  clear:both; 
}


/*****************************************************************
 * 9. ANIMATION
 ****************************************************************/

/*
.rotateAndFade {
    -webkit-animation: shadeInOut 2s 4, roll .5s 16;
    -moz-animation: shadeInOut 2s 4, roll .5s 16;
    -o-animation: shadeInOut 2s 4, roll .5s 16;
    animation: shadeInOut 2s 4, roll .5s 16;
}
.fadeInAndOut80 {
    -webkit-animation: shadeInOut 2s 4;
    -moz-animation: shadeInOut 2s 4;
    -o-animation: shadeInOut 2s 4;
    animation: shadeInOut 2s 4;
}
.fadeIn100 {
    -webkit-animation: shadeIn 2s 1;
    -moz-animation: shadeIn 2s 1;
    -o-animation: shadeIn 2s 1;
    animation: shadeIn 2s 1;
}
.fadeInAndOut50 {
    -webkit-animation: steadyInOut 10s 30;
    -moz-animation: steadyInOut 10s 30;
    -o-animation: steadyInOut 10s 30;
    animation: steadyInOut 10s 30;
}
.fadeInOutOnce {
    -webkit-animation: steadyInOut 1s 1;
    -moz-animation: steadyInOut 1s 1;
    -o-animation: steadyInOut 1s 1;
    animation: steadyInOut 1s 1;
}
.wobble {
    -webkit-animation: tinyRoll 1s 150;
    -moz-animation: tinyRoll 1s 150;
    -o-animation: tinyRoll 1s 150;
    animation: tinyRoll 1s 150;
}
*/

@keyframes roll {
    0%, 100% { transform: rotate(-6deg); }
    50% { transform: rotate(6deg); }
}
@keyframes littleRoll {
    0%, 100% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
}
@keyframes tinyRoll {
    0%, 100% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg); }
}
@keyframes slipFromRight {
    0% {
        transform: translate(300px, 0);    
        font-size: 0%;
    }
    100% { transform: translate(0, 0); }
}
@keyframes slipFromLeft {
    0% {
        transform: translate(-100vw, 0);    
        font-size: 0%;
    }
    100% { transform: translate(0, 0); }
}
@keyframes shadeInOut {
    0%, 100% { opacity: 0; }
    80% { opacity: .8; }
}
@keyframes steadyInOut {
    0%, 100% { opacity: .05; }
    50% { opacity: .9; }
}
@keyframes shadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/*********************************************************
 * 10. MEDIA
 ********************************************************/

/*
 * These screen sizes are based on bootstrap.css version 4
 * xs < 576px
 * sm >= 576px
 * md >= 768px
 * lg >= 992 px
 * xl >= 1200px
 */

/*xs screen*/
@media (min-width: 0px) {
  .navbar .myMenu li {
    background-color: black;
  }
  .navbar button {
    background-color: var(--colorB);
    opacity: .6;
  }
  .navbar .myMenu li:hover {
    background-color: #212121;
  }
  .navbar-brand {
    display: none;
  }
  .myMenu li {
    width: 12%;
  }
  .jumbotron {
/*    padding-left: 8%;*/
  }
  .jumbotron h1 {
    font-size: 2.8rem;
  }
  .jumbotron h2 {
    font-size: 2.0rem;
  }
  .jumbotron h4 {
    font-size: 1.5rem;
  }
}

/*sm screen*/
@media (min-width: 576px) {
  .bottom .container a {
    font-size: 2em;
  }
  .jumbotron h1 {
    font-size: 3.0rem;
  }
  .jumbotron h2 {
    font-size: 2.2rem;
  }
}

/*md screen*/
@media (min-width: 768px) {
  .navbar, .navbar:hover {
    background-color: rgba(0, 0, 0, .8);
  }
  .navbar .myMenu li, .navbar button {
    background-color: inherit;
  }
  .navbar .myMenu li:hover {
    background-color: rgba(255, 255, 255, .2);
  }
  .navbar-brand {
    display:inherit;
  }
  .myMenu li {
    font-size: 80%;
    width: 14%;
  }
  .jumbotron h1 {
    font-size: 3.3rem;
  }
  .jumbotron h2 {
    font-size: 2.5rem;
  }
  .jumbotron h4 {
    font-size: 1.8rem;
  }
}

/*lg screen*/
@media (min-width: 992px) {
  .myMenu li {
    font-size: 100%;
    width: 16%;
  }
  .jumbotron h1 {
    font-size: 4.0rem;
  }
  .jumbotron h2 {
    font-size: 3.0rem;
  }
  .jumbotron h4 {
    font-size: 2.2rem;
  }
}

/*xl screen*/
@media (min-width: 1200px) {
}
